.module_type, .module_time
{
    position: absolute;
    top: 0;
    right: 0;
    background: #f2f2f2;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-color: #d9d9d9;
    padding: 5px 10px;
    color: #393939;
    height: 40px;
}

.module_time
{
    position: absolute;
    top: 0;
    right: auto;
    left: 0;
    background: #f2f2f2;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-left: 0;
    border-color: #d9d9d9;
    padding: 5px 10px;
    color: #393939;
    line-height: 33px;
    font-size: 12px;
}

.modules .panel
{
    position: relative;
}

.modules .panel [data-icon]
{
    font-size: 1.8em;
}

.modules .panel .icon_big
{
    font-size: 5em;
    padding: 5px;
    background: white;
    width: 100%;
    line-height: 120px;
    height: 120px;
    text-align: center;
    display: block;
    box-shadow: inset 0 0 60px rgba(0,0,0,.3);
    border: 1px solid #8e8e8e;
}

.modules .panel strong
{
    text-align: center;
    display: block;
    margin-top: 5px;
    line-height: 16px;
    min-height: 32px;
}

.modules .modules_ressources
{
    width: 100%;
    background: black;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 0;
    height: 30px;
}

.modules .modules_ressources span
{
    font-size: 14px !important;
    color: white;
    height: 100%;
    display: inline-block;
    width: 33.3%;
    line-height: 30px;
    text-align: center;
    border-left: 1px solid rgba(0,0,0,.5);
    border-top: 1px solid rgba(0,0,0,.5);
}

.modules .modules_ressources span:before
{
    margin-right: 5px;
}

.fuel
{
    background: #c60f13;
}

.techs
{
    background: #2ba6cb;
}

.energy
{
    background: #5da423;
}

.ul_blocs li
{
    list-style: none;
    border: 1px solid #cccccc;
    padding: 10px;
    border-radius: 4px;
    margin: 5px 0;
}

.ul_blocs li:hover
{
    list-style: none;
    border: 1px solid #cccccc;
    background: rgba(0,0,0,.1);
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.ul_blocs li .full
{
    display: block;
}

.notification_unread
{
    font-weight: bold;
}

.message_unread
{
    position: absolute;
    top: 8px;
    right: 8px;
}

.message_unread .icomoon
{
    font-size: 10px;
    color: rgba(0,0,0, .6);
}

.strong
{
    font-weight: bold;
}