RewriteEngine On

RewriteRule ^scripts$ scripts.php [L]
RewriteRule ^scripts/([0-9a-z-]+)$ scripts.php?script=$1 [L]

RewriteRule ^connexion$ index.php?connexion [L]
RewriteRule ^connexion/out$ index.php?deconnexion [L]

RewriteRule ^overview$ game.php?module=overview [L]

RewriteRule ^observatory$ game.php?module=observatory [L]

RewriteRule ^positions$ game.php?module=positions
RewriteRule ^positions/fly$ game.php?module=positions&fly
RewriteRule ^positions/fly/(jump)$ game.php?module=positions&fly&speed=$1

RewriteRule ^fly/([0-9]+)-([-]{0,1}[0-9]+)$ game.php?module=fly&x=$1&y=$2 [L]
RewriteRule ^fly/([0-9]+)-([-]{0,1}[0-9]+)/(jump)$ game.php?module=fly&x=$1&y=$2&speed=$3 [L]
RewriteRule ^fly/([a-z]+)$ game.php?module=fly&to=$1 [L]
RewriteRule ^fly/([a-z]+)/(jump)$ game.php?module=fly&to=$1&speed=$2 [L]

RewriteRule ^search/(fast|probes)$ game.php?module=search&speed=$1 [L]

RewriteRule ^ship$ game.php?module=ship [L]
RewriteRule ^ship/([a-z]+)$ game.php?module=ship&action=$1 [L]

RewriteRule ^modules/(build|enable|disable)$ game.php?module=modules&action=$1 [L]

RewriteRule ^quests$ game.php?module=quests [L]
RewriteRule ^quests/([0-9]+)$ game.php?module=quests&questId=$1 [L]

RewriteRule ^notifications$ game.php?module=notifications [L]
RewriteRule ^notifications/all$ game.php?module=notifications&all [L]
RewriteRule ^notifications/read/([0-9]+)$ game.php?module=notifications&read=$1 [L]
RewriteRule ^notifications/all/read/([0-9]+)$ game.php?module=notifications&read=$1&all [L]

RewriteRule ^tests/([a-z]+)$ tests.php?test=$1